<script>
    import "../app.css"
</script>

<main>
    <slot />
</main>

<!-- <footer>
    <p>visit <a href="https://inlume.io" target="_blank">inlume.io</a> to see what's going on...</p>
</footer> -->

<style>
    /* main {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		width: 100%;
		max-width: 1024px;
		margin: 0 auto;
		box-sizing: border-box;
	} */
    main {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		width: 100%;
		height: 800px;
		box-sizing: border-box;
    }

    /* footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    footer a {
        font-weight: bold;
    }

    @media (min-width: 480px) {
        footer {
            padding: 40px 0;
        }
    } */

    :global(.no-focus) {
        box-shadow: none !important;
    }
</style>
