<script>
    import { onMount } from "svelte"
    import { getVideoPoolSize, getSceneClips } from "../services/projectService"
    import { ProjectStore } from "../stores/ProjectStore"
    import { LanguageStore } from "../stores/LanguageStore"

    import SceneSelector from "../components/SceneSelector.svelte"
    import ClipSelector from "../components/ClipSelector.svelte"
    import VideoPool from "../components/VideoPool.svelte"
    import ProjectSelector from "../components/ProjectSelector.svelte"
    import PlaylistSelector from "../components/PlaylistSelector.svelte"
    import ButtonGroupSelector from "../components/ButtonGroupSelector.svelte"
    import LanguageTest from "../components/LanguageTest.svelte"
    import { logE, logW, logF, logT, logI } from "../services/log"
    //import { resolveProject } from "../services/languageService"

    $: playlistArray = {}
    $: currentPlaylist = {}

    $: clips = []
    $: videoPoolSize = 0
    $: videoPoolInitialized = false

    let projectObjects = []
    let currentProject
    let playlistName = "select playlist"

    onMount(async () => {
        // Dev Customer Projekte sind V2
        projectObjects = await ProjectStore.getProjects("3twvbvRfo5KthP9wxQVX")
    })

    async function handleProjectSelected(e) {
        currentProject = await ProjectStore.getProjectData(e.detail)
        if (currentProject) {
            LanguageStore.setLanguages(currentProject.languages)
            LanguageStore.setLanguage(currentProject.languages[0])
            playlistArray = currentProject.playlists
            currentPlaylist = undefined
            playlistName = "select playlist"
            /*  let test = resolveProject(currentProject, currentProject.languages[0])
            console.log(test) */
        }
    }
    async function handlePlaylistSelected(e) {
        currentPlaylist = playlistArray.find((o) => o.id == e.detail)
        if (currentPlaylist) {
            videoPoolSize = getVideoPoolSize(currentPlaylist, selectedOption, currentProject)
        }
    }

    let videoPool
    function handleAllHlsVideos(e) {
        logT("handleVideoPoolMounted " + e.detail)
        if (e.detail > 0) {
            // Scheinbar doch unnötig
            //videoPool.initVideos()
            videoPoolInitialized = true
        }
    }

    let selectedSceneIndex = -1
    function handleSceneSelected(e) {
        logF("scene " + e.detail + " selected")
        selectedSceneIndex = e.detail - 1
        clips = getSceneClips(currentPlaylist, selectedSceneIndex, selectedOption, currentProject)
        videoPool.initPool(clips)
    }
    function handleClipSelected(e) {
        logF("clip " + e.detail + " selected")
        videoPool.playClip(e.detail)
    }
    function handleFormatSelected(e) {
        logF("format " + e.detail + " selected")
        if (videoPoolSize > 0) {
            let index = videoPool.getSelectedClipIndex()
            if (index > -1) {
                clips = getSceneClips(currentPlaylist, selectedSceneIndex, selectedOption, currentProject)
                videoPool.initPool(clips, index)
                videoPool.playClip(index)
            }
        }
    }

    let selectedOption = "16x9"
    let options = ["16x9", "3x4", "9x16"]
</script>

<div class="div-selectors">
    <ButtonGroupSelector bind:selectedOption {options} on:selected={handleFormatSelected} />
    <ProjectSelector {projectObjects} on:projectSelected={handleProjectSelected} />
    <PlaylistSelector {playlistArray} bind:playlistName on:playlistSelected={handlePlaylistSelected} />
</div>

{#if videoPoolInitialized}
    <SceneSelector playlist={currentPlaylist} on:sceneSelected={handleSceneSelected} />
    {#if clips?.length > 0}
        <ClipSelector format={selectedOption} {clips} on:clipSelected={handleClipSelected} />
    {/if}
{/if}
{#if videoPoolSize > 0}
    <div class="div-videopool">
        <VideoPool bind:this={videoPool} {videoPoolSize} on:allHlsVideos={handleAllHlsVideos} />
    </div>
{/if}

{#if currentProject}
    <div class="div-languagetest">
        <LanguageTest project={currentProject} />
    </div>
{/if}

<div class="div-poolsize">
    <h5>VideoPoolSize {videoPoolSize}</h5>
</div>

<style>
    .div-videopool {
        margin-top: 1em;
        position: relative;
        height: 500px;
        width: 100%;
        object-fit: contain;
    }
    .div-selectors {
        display: flex;
        justify-content: center;
    }
    .div-languagetest {
        position: absolute;
        bottom: 20px;
    }
    .div-poolsize {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
</style>
