<script>
  import { ButtonGroup } from "sveltestrap"
  import ClipButton from "./ClipButton.svelte"

  export let format
  export let clips
  $: clipsDatas = createClipsDatas(clips)

  function createClipsDatas(clips) {
    let result = []
    for (let index = 0; index < clips.length; index++) {
      result.push({ id: clips[index].id, url: clips[index].url, descriptor: clips[index].descriptor })
    }
    return result
  }

</script>

<div class="div-selector">
  <h2>{format} Clips</h2>
  <ButtonGroup>
    {#each clipsDatas as clipData (clipData.id)}
      <ClipButton {clipData} on:clipSelected/>
    {/each}
  </ButtonGroup>
</div>

<style>
  .div-selector {
    margin-top: 1em;
  }
</style>
