<script>
  import { videoPoolStore } from "../stores/videoPoolStore"
  import { Button } from "sveltestrap"
  import { createEventDispatcher } from "svelte"
  //import { logE, logW, logF, logT, logI } from "../services/log"

  export let clipData

  $: buttonProps = getButtonProps($videoPoolStore)
  function getButtonProps(store) {
    let outline = true
    let color = "light"
    if (clipData) {
      let item = store.find((o) => o.url === clipData.url)
      if (item) {
        if (item.state == "playing") outline = false
        switch (item.state) {
          case "loading":
            color = "warning"
            break
          case "loaded":
            color = "success"
            break
          case "playing":
            color = "success"
            break
          default:
            color = "secondary"
            break
        }
      }
    }
    return { outline: outline, color: color }
  }

  const dispatch = createEventDispatcher()
  function btnClick(selectedVideo) {
    dispatch("clipSelected", selectedVideo.url)
  }
</script>

<div style="margin-right: 10px;">
  <Button class="no-focus" outline={buttonProps.outline} color={buttonProps.color} on:click={() => btnClick(clipData)}>{clipData.descriptor}</Button>
</div>
