<script>
    import { logE, logW, logF, logT, logI } from "../services/log"
    import ButtonGroupSelector from "../components/ButtonGroupSelector.svelte"
    import { LanguageStore } from "../stores/LanguageStore"

    export let project

    $: options = project?.languages
    $: selectedOption = project?.languages[0]
    $: title = project?.title[selectedOption]

    $: console.warn(project?.name)

    function handleSelected(e) {
        LanguageStore.setLanguage(e.detail)
        title = LanguageStore.getField(project?.title)
    }
</script>

{#if project}
    <div class="div-test">
        <ButtonGroupSelector {selectedOption} {options} on:selected={handleSelected} />
        <h4>{title}</h4>
    </div>
{/if}

<style>
    .div-test {
        display: flex;
        gap: 2em;
        justify-content: center;
    }
</style>
