<script>
    import { Dropdown, DropdownToggle, DropdownMenu, DropdownItem } from "sveltestrap"
    import { createEventDispatcher } from "svelte"
    const dispatch = createEventDispatcher()

    export let playlistArray = []

    async function playlistSelected(playlistId) {
        playlistName = playlistArray.find((o) => o.id == playlistId).name
        dispatch("playlistSelected", playlistId)
    }

    export let playlistName = ""
</script>

<div class="div-selector">
    {#if playlistArray.length > 0}
        <Dropdown>
            <DropdownToggle caret>{playlistName}</DropdownToggle>
            <DropdownMenu end>
                {#each playlistArray as playlistObject}
                    <DropdownItem on:click={playlistSelected(playlistObject.id)}>{playlistObject.name}</DropdownItem>
                {/each}
            </DropdownMenu>
        </Dropdown>
    {/if}
</div>

<style>
    .div-selector {
        margin-left: 1em;
        display: flex;
    }
</style>
