<script>
    import { Dropdown, DropdownToggle, DropdownMenu, DropdownItem } from "sveltestrap"
    import { createEventDispatcher } from "svelte"
    const dispatch = createEventDispatcher()

    export let projectObjects

    async function projectSelected(projectId) {
        currentProjectName = projectObjects.find((o) => o.projectId == projectId).projectName
        dispatch("projectSelected", projectId)
    }

    $: currentProjectName = "select project"
</script>

<div class="div-selector">
    <Dropdown>
        <DropdownToggle caret>{currentProjectName}</DropdownToggle>
        <DropdownMenu end>
            {#each projectObjects as projectObject}
                <DropdownItem on:click={projectSelected(projectObject.projectId)}>{projectObject.projectName}</DropdownItem>
            {/each}
        </DropdownMenu>
    </Dropdown>
</div>

<style>
    .div-selector {
        margin-left: 1em;
        display: flex;
    }
</style>
