<script>
    import { createEventDispatcher } from "svelte"
    import { Button, ButtonGroup } from "sveltestrap"

    export let playlist
    $: sceneCount = playlist == undefined ? 0 : Object.keys(playlist?.scenes).length
    $: sceneDatas = createSceneDatas(sceneCount)
    function createSceneDatas(count) {
        let result = []
        for (let index = 0; index < count; index++) {
            result.push({ id: index + 1, caption: `SCENE ${index + 1}`, outlineButton: true })
        }
        return result
    }

    const dispatch = createEventDispatcher()
    function btnClick(sceneId) {
        sceneDatas.forEach((sceneData) => {
            sceneData.outlineButton = sceneData.id != sceneId
        })
        sceneDatas = sceneDatas
        dispatch("sceneSelected", sceneId)
    }
</script>

<div class="div-selector">
    {#if playlist && sceneDatas}
        <h2>{playlist.name}</h2>
        <ButtonGroup>
            {#each sceneDatas as sceneData (sceneData.id)}
                <Button class="no-focus" on:click={() => btnClick(sceneData.id)} outline={sceneData.outlineButton}>{sceneData.caption}</Button>
            {/each}
        </ButtonGroup>
    {/if}
</div>

<style>
    .div-selector {
        margin-top: 1em;
    }
</style>
